<div class="left">
    <div ng-controller="payerController">
        <div ng-repeat="post in posts">
            <div class="entry">
                <span class="date">{{post.CreatedDate}}</span>
                <div class="post">
                    <h2>
                        <a ng-href="/posts/{{post.Id}}">{{post.Title}}</a>
                    </h2>
                    <div class="contentPost">
                        <p>
                            <a class="no_underline" ng-href="/posts/{{post.Id}}">
                                <img src="{{post.Banner}}" alt="{{post.Title}}"/>
                            </a>
                        </p>
                        <p>
                            {{post.Description}}
                        </p>
                        <p>
                            <a ng-href="/posts/{{post.Id}}" class="more-link">Read More</a>
                        </p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>