@inherits System.Web.Mvc.WebViewPage
<!DOCTYPE html>
<html ng-app="adminApp">
<head>
    <base href="/admin" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warden | Admin</title>
    <link rel="stylesheet" href="assets/css/pure.css" />
    <link rel="stylesheet" href="~/assets/css/pikaday.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/site.css"/>
    <link rel="stylesheet" href="~/assets/css/froala_style.min.css" />
    <link rel="stylesheet" href="~/assets/css/froala_editor.min.css" />
    <link rel="stylesheet" href="~/assets/css/image.min.css" />

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular.js"></script>
    <script src="assets/libs/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.3/angular-resource.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/app.route.js"></script>

    <script src="app/components/admin/home/homeController.js"></script>
    <script src="app/components/admin/transaction/transactionService.js"></script>
    <script src="app/components/admin/transaction/transactionController.js"></script>
    <script src="app/components/admin/payer/payerController.js"></script>
    <script src="app/components/admin/payer/payerService.js"></script>
    <script src="app/components/admin/category/categoryController.js"></script>
    <script src="app/components/admin/category/categoryService.js"></script>

    <script src="~/app/components/admin/directives/post/postDirective.js"></script>
    <script src="~/app/components/admin/directives/fileread.js"></script>

    <script src="~/app/components/admin/postList/postListController.js"></script>
    <script src="~/app/components/admin/postList/postListService.js"></script>
    <script src="~/app/components/admin/postCreation/postCreationController.js"></script>
    <script src="~/app/components/admin/postCreation/postCreationService.js"></script>
    <script src="~/assets/libs/froala_editor.min.js"></script>
    <script src="~/assets/libs/image.min.js"></script>
    <script src="~/assets/libs/pikaday.js"></script>
    <script src="~/assets/libs/pikaday-angular.js"></script>   
</head>
<body> 

    <div class="wrapper">
        <div class="header">
            <div class="clear"></div>
            <a href="/admin">
                <div class="headerImage">WOOOORDEN</div>
            </a>
            <nav class="bgBlack">
                <div class="menuMain">
                    <ul class="cat-">
                        <li class="cat-item">
                            <a href="/admin/transactions" title="test">Транзакції!</a>
                        </li>
                        <li class="cat-item">
                            <a href="/admin/payers" title="test">Платники!</a>
                        </li>
                        <li class="cat-item">
                            <a href="/admin/category" title="test">Категорії!</a>
                        </li>
                        <li class="cat-item">
                            <a href="/admin/posts" title="posts">Пости!</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div id="main">
            <div class="page">
                <ng-view></ng-view>
            </div>
        </div>
    </div>
    <div class="screen-locker">
    </div>
    <div class="loader">
    </div>

    <script type="text/javascript">
        function LockScreen(show) {
            if (show) {
                document.querySelector('.screen-locker').className += ' active';
                document.querySelector('.loader').className += ' active';
            }
            else {
                document.querySelector(".screen-locker").className = document.querySelector(".screen-locker").className.replace('active', '');
                document.querySelector('.loader').className = document.querySelector('.loader').className.replace('active', '');
            }
        }
    </script>
</body>
</html>
