@inherits System.Web.Mvc.WebViewPage
<!DOCTYPE html>
<html ng-app="adminApp">
<head>
    <base href="/admin" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warden | Admin</title>
    <link rel="stylesheet" href="assets/css/pure.css" />
    <link rel="stylesheet" href="assets/css/site.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular.js"></script>
    <script src="assets/libs/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.3/angular-resource.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/app.route.js"></script>
    <script src="app/components/admin/home/homeController.js"></script>
    <script src="app/components/admin/transaction/transactionService.js"></script>
    <script src="app/components/admin/transaction/transactionController.js"></script>
    <script src="app/components/admin/payer/payerController.js"></script>
    <script src="app/components/admin/payer/payerService.js"></script>
    <script src="app/components/admin/category/categoryController.js"></script>
    <script src="app/components/admin/category/categoryService.js"></script>
</head>
<body> 
    <div id="layout">     
        <div id="menu">
            <div class="pure-menu">
                <a class="pure-menu-heading" href="#">Warden</a>
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="/admin/transactions" class="pure-menu-link">Транзакції</a></li>
                    <li class="pure-menu-item"><a href="/admin/payers" class="pure-menu-link">Платники</a></li>
                    <li class="pure-menu-item"><a href="/admin/scheduler" class="pure-menu-link">Таски</a></li>          
                    <li class="pure-menu-item"><a href="/admin/category" class="pure-menu-link">Категорії</a></li>                  
                </ul>
            </div>
        </div>
        <div id="main">
            <div class="page">
                <ng-view></ng-view>
            </div>
        </div>
    </div>
</body>
</html>
