@inherits System.Web.Mvc.WebViewPage
<!DOCTYPE html>
<html ng-app="app">
<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warden</title>
    <link rel="stylesheet" href="assets/css/pure.css" />
    <link rel="stylesheet" href="assets/css/site.css" />
    <link rel="stylesheet" href="assets/libs/c3/c3.css" />
    <script src="assets/libs/angular.js"></script>
    <script src="assets/libs/angular-route.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/app.route.js"></script>
    <script src="app/components/frontend/payer/payerService.js"></script>
    <script src="app/components/frontend/payer/payerController.js"></script>
    <script src="app/components/frontend/home/homeController.js"></script>
    <script src="app/components/frontend/about/aboutController.js"></script>
    <script src="app/components/frontend/contact/contactController.js"></script>
    <script src="~/app/components/frontend/postList/postListController.js"></script>
    <script src="~/app/components/frontend/postList/postListService.js"></script>
    <script src="assets/libs/d3/d3.v3.min.js"></script>
    <script src="assets/libs/c3/c3.min.js"></script>
</head>
<body>
    <div class="leaderBoardBanner"></div>
    <div class="wrapper">
        <div class="header">
            <div class="clear"></div>
            <a href="/">
                <div class="headerImage"></div>
            </a>
            <nav class="bgBlack">
                <div class="menuMain">
                    <ul class="cat-">
                        <li class="cat-item">
                            <a href="/" title="test">Home!</a>
                        </li>       
                        <li class="cat-item">
                            <a href="/posts" title="test">Posts!</a>
                        </li>         
                    </ul>
                </div>
            </nav>
        </div>
        <div id="main">
            <ng-view></ng-view>
        </div>
    </div>
</body>
</html>
