<div class="pure-g searched-data" ng-controller="taskController">
    <div class="pure-u-1-2">
        <table>
            <thead>
                <tr>
                    <th>Операція</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr><!--ng-repeat=tasks, runTask(task)-->
                    <td>Індексація транзакцій</td><!--<td>{{task.Name}}</td>-->
                    <td><button ng-click="runTask()">Запустити</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>