/* Alignment styles for images, videos and iframes in editable regions */

/* Center (default) */
[data-editable] iframe,
[data-editable] image,
[data-editable] [data-ce-tag=img],
[data-editable] img,
[data-editable] video {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

/* Left align */
[data-editable] .align-left {
    clear: initial;
    float: left;
    margin-right: 0.5em;
}

/* Right align */
[data-editable].align-right {
    clear: initial;
    float: right;
    margin-left: 0.5em;
}

/* Alignment styles for text in editable regions */
[data-editable] .text-center {
    text-align: center;
}

[data-editable] .text-left {
    text-align: left;
}

[data-editable] .text-right {
    text-align: right;
}

.author {
    font-style: italic;
    font-weight: bold;
}


/*Site css starts*/


#main > .page {
    display: block;
    width: 100%;
    margin-top: 30px;
}

.searched-data table,
.searched-data select {
    width: 100%;
    text-align-last: center;
}

.tags {
    border: 1px solid lightgrey;
    height: 80px;
    margin-top: 10px;
}

.tag {
    background-color: yellow;
    border-radius: 100%;
    padding: 3px;
    margin: 7px;
    display: inline-block;
    color: black;
    min-height: 15px;
    min-width: 50px;
    text-align: center;
}

    .tag > i {
        color: red;
        font-size: small;
        cursor: pointer;
    }

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 50%;
    right: 0;
    bottom: 0;
    top: 40%;
    display: none;
    z-index: 200;
    opacity: 1;
}

.screen-locker {
    z-index: 100;
    display: none !important;
    background-color: #ddd;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
}

.active {
    display: block !important;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

    .tab .tab-link {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        list-style: none;
    }

.tab-link.active {
    background-color: #1f8dd6;
}

.fa-check {
    color: green;
}

.fa-spinner {
    color: orange;
}

.fa-close {
    color: red;
}

.fa-cog {
    color: #1f8dd6;
}

.fa-history {
    color: orange;
}

#map {
    width: 620px;
    height: 410px;
    position: absolute;
    left: 20%;
    top: 10%;
}

    #map svg {
        width: 100%;
        height: 100%;
    }


/* SVG STYLES */

.svg-map .land:hover {
    fill-opacity: 0.7;
    fill: orange;
}

.keyword-value
{
    width: 30px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

    /* Hide default HTML checkbox */
    .switch input {
        display: none;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 13px;
        width: 13px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

.question {
    text-align: center;
    margin: 10px 0px;
    padding: 20px;
    border-bottom: 1px grey dashed;
    border-top: 1px grey dashed;
}

.correctState {
    background-color: lightgreen;
}

.btn-right {
    float: right;
}

.empty-block {
    line-height: 200px;
    text-align: center;
    font-weight: bold;
}

.td-keywords {
    overflow: hidden;
    word-wrap: break-word;
    max-width: 300px;
}

/*.svg-graph .bar {
    fill: steelblue;
}

.svg-graph .bar:hover {
    fill: brown;
}
*/
.axis--x path {
    display: none;
}

.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
}

.wrapper{
    margin: 0px auto 20px auto;
    width: 970px;
    padding: 20px 25px 25px 25px;
    background: #ffffff;
    min-height: 4000px;
}

body {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    background-color: #eee8e1;
}

.leaderBoardBanner{
    margin: 0 auto;
    width: 728px;
    text-align: center;
    padding: 12px 0px;
}

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

a:visited {
    color: #000;
    border: 0px;
}

a:link {
    color: #000;
    border: 0px;
}

.header{
    width: 100%;
    text-align: center;
}

.headerImage {
    padding: 0;  
    margin-left: auto;
    margin-right: auto;
    width: 970px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 9em;
}

.bgBlack {
    background: white;
    width: 970px;
    margin: 0;
    padding: 0;
}

@media (min-width: 769px) {
    .menuMain {
        display: block !important;
    }
}

.menuMain {
    font-weight: bolder;
    font-size: 16px;
    height: 22px;
    text-transform: uppercase;
}

.menuMain ul {
    padding-left: 0px;
    float: left;
    padding: 5.5px 0px 2px 0px;
}

.menuMain ul li {
    list-style: none;
    display: inline;
    float: left;
    padding: 0px 7px 0px 6px;
    margin: 0px 23px 18px 2px;
}

.left {
    margin-top: 13px;
    float: left;
    width: 600px;
}

.entry {
    margin-bottom: 36px;
    margin-left: 0px;
    width: 600px;
    padding: 0px 0px 0px 0px;
    line-height: 140%;
}

.entry span.date {
    font-style: oblique;
    font-weight: bolder;
    font-size: 12px;
    padding: 1px 5px;
    background: #f8d827;
}

.entry .post {
    font-size: 13px;
    margin-top: 1px;
    padding-top: 15px;
    border-top: 1px dotted #000;
    border-bottom: 1px dotted #000;
}

.entry h2 {
    font-style: oblique;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration: underline;
    margin-bottom: 10px;
    padding-left: 0px;
    padding-left: 2px;
    letter-spacing: 0px;
}

.entry h2 a {
    color: #000;
}

.entry .post .contentPost {
    font-family: "Courier New",Couriterry,monospace;
    margin-bottom: 18px;
    text-align: justify;
}

.entry p {
    padding-bottom: 10px;
    padding-top: 10px;
}

.entry a.no_underline {
    border: none;
}

.entry p img {
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    width: 100%;
    height: auto;
}

a.more-link:link {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 248px;
    padding: 20px 20px;
    text-decoration: none;
    text-align: center;
    background: none;
    border-style: solid;
    border-color: #000;
    border-width: 1px;
    border-bottom-color: none;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    word-spacing: -4px;
    padding: 20px 20px;
    color: #000;
}

a.more-link:hover{
    background-color: black;
    color: white;
}

.clear {
    clear: both;
}

a:link {
    color: #000;
    border: 0px;
}

a:visited {
    color: #000;
    border: 0px;
}

post-component{
    padding: 5px;
}

blog-post{
    padding: 5px;
}

.new-component-btn,
.save-blog-post-btn {
    position: fixed;
    top: 250px;
    right: 10px;
    z-index: 100000;
    width: 100px;
    height: 100px;
    border: 1px solid black !important;
    border-radius: 50%;
    line-height: 100px;
    text-align: center;
    font-size: 30px;
}

.new-component-btn:hover,
.save-blog-post-btn:hover {
    background-color: black;
    color: white;
}

.save-blog-post-btn{
    top: 360px;
}

.pure-button{
    background-color: transparent;
    border: 1px solid black !important;
    margin-bottom: 5px;
}

.pure-button:hover{
    background-color: black;
    color: white;
}

.fa-files-o{
    color: red;
}

.pure-table{
    width: 100%;
}

.payerSelection{
    width: 100%;
}

.logo-holder img {
    max-width: 100%;
    height: auto;
    border-radius: 100%;
    max-height: 200px;
}

.logo-holder {
    overflow: hidden;
}

#payerStatisticPage h1{
    text-align: center;
}

.statistic-details{
}

.payer-details {
    border-bottom: 1px solid black;
    padding: 10px 0px;
}

.statistic-details .text-info{
    margin-left: 20px;
}

.statistic-details .text-info .spendings {
    margin-top: 10px;
}

.statistic-details .text-info .spendings .value {
    font-weight: bold;
}

.spending-row{
    padding: 15px 0px;
}

.spending-column{
    padding: 10px 0px;
}

.spending-content{
    border-bottom: 1px solid black;
    display: inline;
}

.spending-categories-wrapper{
    margin-top: 5px;
}

.spending-categories-wrapper h3{
    text-align: center;
}

.spending-categories-wrapper ul{
    margin-top: 20px;
}

.spending-categories-wrapper li{
    text-align: center;
    border-bottom: 1px solid black; 
    padding: 5px 0px;
}

.spending-categories-wrapper li .title{
    font-style: italic;
}

.spending-categories-wrapper li .value {
    font-style: italic;
    font-weight: bold;
}