<div ng-controller="transactionController">
    <select ng-model="selectedPayerId" ng-change="load()">
        <option ng-repeat="payer in payers" value="{{payer.PayerId}}">{{payer.Name}}</option>
    </select>

    <table class="pure-table">
        <thead>
            <tr>
                <th>Вартість</th>
                <th>Призначення</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="transaction in transactions">
                <th>{{transaction.Price | currency}}</th>
                <th>{{transaction.Keywords}}</th>
            </tr>
        </tbody>
    </table>
</div>