<div class="pure-g searched-data" ng-controller="transactionController">
    <div class="pure-u-1-2">
        <select ng-model="selectedPayerId" ng-change="load()">
            <option ng-repeat="payer in payers" value="{{payer.PayerId}}">{{payer.Name}}</option>
        </select>

        <input type="search" ng-keyup="search()" style="width:50%;" />

        <table class="pure-table pure-table-horizontal">
            <thead>
                <tr>
                    <th>Вартість</th>
                    <th>Призначення</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="transaction in transactions | filter:containsTag(keywords)">
                    <td>{{transaction.Price | currency}}</td>
                    <td>{{transaction.Keywords}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pure pure-u-1-2">    
            <input type="search" ng-change="showUpTag(tagBox)" ng-model="tagBox" style="width:50%;"/>
            <button ng-click="addTag(tagBox)" class="pure-button pure-button-primary">Додати тег</button>
            <div class="tags">
                <span class="tag" ng-repeat="keyword in keywords">{{keyword}} <i ng-click="removeTag(keyword)">x</i></span>
            </div>
    </div>
</div>